@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

html{
  background-color: rgb(121, 121, 121);
  margin: 0;
  padding: 0;

  font-family: "Playwrite GB S", cursive;
  scroll-behavior: smooth;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 1vh 5vw;
  background-color: #91b1e0;
  backdrop-filter: blur(10);

  color: white;
  position: fixed;
  width: 92%;
  top: 0;
  z-index: 1000;
}

.logo{
  font-size: 2em;
  font-family: 'Merienda', cursive;
  text-shadow: 0 0 10px beige;
}

.logo .bracket{
  color: blue;
}

.navlinks{
  display: flex;
  font-size: 1.3em;
}

.navlinks ul{
  list-style: none;
  padding: 0;
  display: flex;
}

.navlinks li{
  margin: 0 15px;
}

.navlinks a{
  color: white;
  text-decoration: none;
}

.menu{
  font-size: 1em;
  cursor: pointer;
  display: none;
}